@charset "UTF-8";
	body{
            font-family: 'Popins', sans-serif; 
    		font-size: 16px; 
		    margin: 0;
		    display: flex;
		    flex-direction: column;
		    min-height: 100vh;
        }

        #header {
            background-color: #004E4E;
            padding: 10px;
            text-align: center;
            flex-grow: 0;
            flex-shrink: 0;
            height: 70px
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px
        }

        .logo img {
            height: 70px;
        }

        .main-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-grow: 1;
            flex-shrink: 0;
            height: 70px
        }
        
      .main-nav ul {
		    display: flex;
		    justify-content: center; /* Center align the navigation links */
		    padding: 0; /* Remove default padding */
		    margin: 0; /* Remove default margin */
		    height: 100%; /* Fill the entire height of the .main-nav */
		}
		
		.main-nav li {
		    list-style: none;
		    height: 100%; /* Fill the entire height of the .main-nav */
		}
		
		
		
		.main-nav a {
		    text-decoration: none;
		    color: white;
		    display: flex;
		    align-items: center;
		    height: 100%; /* Fill the entire height of the .main-nav */
		    padding: 0 15px; /* Add padding to create button-like appearance */
		    border-radius: 5px; /* Add rounded corners */
		    transition: background-color 0.3s; /* Smooth transition for hover effect */
		}
		
		.main-nav a {
		    /* Existing styles */
		    padding: 0 15px; /* Add padding to create button-like appearance */
		    /* New style */
		    padding-right: 20px; /* Add padding to the right side */
		    border-radius: 5px; /* Add rounded corners */
		    transition: background-color 0.3s; /* Smooth transition for hover effect */
			}
			
		.login-signup input[type="submit"] {
		    /* Existing styles */
		    padding: 0 15px; /* Add padding to match the navigation links */
		    /* New style */
		    padding-right: 20px; /* Add padding to the right side */
		    cursor: pointer;
		    color: white; /* Match text color with navigation links */
		}
				
		.login-signup input[type="submit"] {
			background-color: transparent;
			border: none;
			padding: 0 25px; /* Add padding to match the navigation links */
			cursor: pointer;
			color: white; /* Match text color with navigation links */
		}
		
		.login-signup input[type="submit"]:hover {
		    background-color: transparent; /* No background color on hover */
		}



        /* Add styles for the icons here */
        .icon-container {
		    display: flex;
		    align-items: center;
		    gap: 10px;
		    height:70px;
		    /* New style */
		    padding-right: 20px; /* Add padding to the right side */
		}